<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <img src="assets/kudu-logo.png" width="80">
            <span class="title">Kudu Monitor</span>
        </div>
        
    </header>
    <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Overview</a>
            </li>
        </ul>
    </nav>
    <div class="content-container">        
        <div class="content-area">
        <clr-datagrid>
            <clr-dg-column>Host</clr-dg-column>
            <clr-dg-column>Disk Size</clr-dg-column>
            <clr-dg-column>Tablet Count</clr-dg-column>
        </clr-datagrid>
        <clr-dg-row *ngFor="let user of users">
            <clr-dg-cell>{{user.id}}</clr-dg-cell>
            <clr-dg-cell>{{user.name}}</clr-dg-cell>
            <clr-dg-cell>{{user.creation | date}}</clr-dg-cell>
            <clr-dg-cell>{{user.color}}</clr-dg-cell>
        </clr-dg-row>
        </div>
        <nav class="sidenav">
            <clr-tree-node [clrExpanded]="true">
                All Tables
                <clr-tree-node *ngFor="let db of tableTree" [clrExpanded]="true">
                    {{db.name}}
                    <clr-tree-node *ngFor="let table of db.tables" 
                                    [clrSelected]="table.enabled" (clrSelectedChange)="table.enabled = !!$event">
                        {{table.name}}
                    </clr-tree-node>
                </clr-tree-node>
            </clr-tree-node>
        </nav> 
    </div>
</div>